@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

fieldset, img, input, button, textarea {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
  /* 去掉环绕光圈*/ }

ul, ol {
  list-style: none; }

/*去掉原样式中的小黑点*/
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体"; }

select, input {
  vertical-align: middle; }

/*输入字居中显示*/
select, input, textarea {
  font-size: 12px;
  margin: 0; }

/**/
textarea {
  resize: none; }

/*防止拖动*/
img {
  border: 0;
  vertical-align: middle;
  /*  去掉图片底部默认的3像素空白缝隙*/ }

table {
  border-collapse: collapse;
  /*合并外连线*/ }

.clearfix:before, .clearfix:after {
  /*清除浮动，最好最标准的写法*/
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1;
  /*IE/7/6*/
  /*兼容IE6下的写法*/ }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%; }

s, i, em {
  font-style: normal;
  /*将原有的样式风格去掉*/
  text-decoration: none;
  /*去掉中划线，或是惯穿线*/ }

/* select 兼容性处理 */
select {
  border: solid 1px #000;
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  appearance: none;
  /*很关键：将默认的select选择框样式清除*/
  -moz-appearance: none;
  -webkit-appearance: none;
  /* background: #0094ff;将背景改为红色*/
  padding-right: 14px;
  /*加padding防止文字覆盖*/ }

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
  display: none; }

/* 定义变量 */
/* theme */
/*  height  */
/* text */
/* border + background */
/* other */
/* initialize */
* {
  color: #222222;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* 文字排版 */
h1, .h1 {
  font-size: 32px !important;
  line-height: 48px !important; }

h2, .h2 {
  font-size: 24px !important;
  line-height: 30px !important; }

h3, .h3 {
  font-size: 18px !important;
  line-height: 24px !important; }

h4, .h4 {
  font-size: 16px !important;
  line-height: 22px !important; }

h5, .h5 {
  font-size: 14px !important;
  line-height: 18px !important; }

h6, .h6 {
  font-size: 12px !important;
  line-height: 16px !important; }

/* navigation */
#navHead {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0px -1px 8px 0px #cccccc;
  margin: 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }
  #navHead .nav-head-info-tip {
    padding: 0 10px;
    height: 100%;
    line-height: 60px;
    position: relative;
    cursor: pointer;
    z-index: 2; }
    #navHead .nav-head-info-tip .info-tip-menu {
      display: none;
      background-color: #ffffff;
      border: 1px solid #FF8A41;
      padding: 5px 0;
      position: absolute;
      top: 46px;
      right: 0px;
      border-radius: 4px;
      box-shadow: 0 0 2px #FF8A41; }
      #navHead .nav-head-info-tip .info-tip-menu li {
        line-height: 14px;
        padding: 5px 10px;
        cursor: pointer;
        white-space: nowrap; }
      #navHead .nav-head-info-tip .info-tip-menu li:hover {
        background-color: #FF8A41;
        color: #ffffff; }
    #navHead .nav-head-info-tip .info-tip-menu:before {
      position: absolute;
      top: -5px;
      right: 13px;
      content: '';
      transform: rotate(45deg);
      width: 7px;
      height: 7px;
      border-left: 1px solid #FF8A41;
      border-top: 1px solid #FF8A41;
      background-color: #ffffff; }

#nav-sidle {
  width: 180px;
  background-color: #ffffff;
  box-shadow: -1px 0px 8px 0px #cccccc;
  margin: 0;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  z-index: auto;
  border-top: 1px solid #FFFFFF;
  /* 右边小箭头 */
  /* 导航内容 */ }
  #nav-sidle #collapse-btn {
    cursor: pointer;
    position: fixed;
    top: 48%;
    width: 20px;
    line-height: 30px;
    z-index: 2;
    transition: all .2s ease 0s; }
    #nav-sidle #collapse-btn .collapse-btn-nav i {
      font-size: 18px;
      position: relative;
      display: block; }
    #nav-sidle #collapse-btn.to-close {
      left: 165px;
      border-bottom: 9px solid transparent;
      border-left: none;
      border-right: 13px solid #f7f7f7;
      border-top: 9px solid transparent; }
      #nav-sidle #collapse-btn.to-close .collapse-btn-nav i {
        left: 5px; }
      #nav-sidle #collapse-btn.to-close:hover {
        left: 160px; }
    #nav-sidle #collapse-btn.to-open {
      left: -4px;
      border-bottom: 9px solid transparent;
      border-left: 13px solid #d9dee4;
      border-top: 9px solid transparent; }
      #nav-sidle #collapse-btn.to-open .collapse-btn-nav i {
        left: -3px;
        transform: rotate(180deg); }
      #nav-sidle #collapse-btn.to-open:hover {
        left: 0px; }
  #nav-sidle #accordion-nav a {
    display: block;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 10px;
    position: relative; }
    #nav-sidle #accordion-nav a span {
      margin-left: 5px; }
  #nav-sidle #accordion-nav .panel,
  #nav-sidle #accordion-nav a,
  #nav-sidle #accordion-nav ul,
  #nav-sidle #accordion-nav li {
    width: 100%; }
  #nav-sidle #accordion-nav .panel .active {
    background-color: #FF8A41 !important; }
    #nav-sidle #accordion-nav .panel .active span,
    #nav-sidle #accordion-nav .panel .active i {
      color: #ffffff !important; }
  #nav-sidle #accordion-nav .panel > a i:last-child {
    position: absolute;
    top: 2px;
    right: 10px;
    transition: all .2s; }
  #nav-sidle #accordion-nav .panel > ul {
    display: none; }
    #nav-sidle #accordion-nav .panel > ul li a {
      padding-left: 30px; }

#nav-content {
  transition: all .2s linear 0s; }

/* -- button 按钮 */
.btn {
  color: #ffffff;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  margin: 0 5px;
  font-weight: 400;
  cursor: pointer;
  background-color: #CCCCCC;
  border-radius: 4px; }
  .btn:hover {
    background-color: #E2E4E5; }
  .btn:focus {
    background-color: #E2E4E5; }
  .btn i {
    position: relative;
    right: 10px;
    font-size: 16px; }

/*button -- 尺寸*/
.btn-xs {
  font-size: 14px;
  height: 24px;
  line-height: 24px; }
  .btn-xs i {
    font-size: 12px;
    bottom: 1px; }

.btn-sm {
  height: 30px;
  line-height: 30px;
  font-size: 14px; }
  .btn-sm i {
    font-size: 14px; }

.btn-md {
  height: 34px;
  line-height: 34px;
  font-size: 16px; }
  .btn-md i {
    font-size: 16px; }

.btn-lg {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  border-radius: 6px; }
  .btn-lg i {
    font-size: 18px; }

/*button -- 类型*/
.btn-border {
  border: 1px solid #CCCCCC;
  background-color: #ffffff;
  color: #222222; }
  .btn-border i {
    color: #222222; }
  .btn-border:hover {
    color: #FF8A41;
    border-color: #FF8A41;
    background-color: #ffffff; }
    .btn-border:hover i {
      color: #FF8A41; }
  .btn-border:focus {
    color: #FF8A41;
    border-color: #FF8A41;
    background-color: #ffffff; }
    .btn-border:focus i {
      color: #FF8A41; }

.btn-text {
  background-color: #ffffff;
  color: #FF8A41; }
  .btn-text i {
    color: #FF8A41; }
  .btn-text:hover {
    color: #ED6C1C;
    background-color: #ffffff; }
  .btn-text:focus {
    color: #ED6C1C;
    background-color: #ffffff; }

.btn-theme {
  border: 1px solid transparent;
  background-color: #FF8A41;
  color: #ffffff; }
  .btn-theme i {
    color: #ffffff; }
  .btn-theme:hover {
    background-color: #ED6C1C; }
  .btn-theme:focus {
    background-color: #ED6C1C; }

/*  input 共用样式 */
.input-group-xs,
.input-group-sm,
.input-group-md,
.input-group-lg {
  position: relative;
  display: inline-block;
  padding: 0 5px; }
  .input-group-xs label,
  .input-group-sm label,
  .input-group-md label,
  .input-group-lg label {
    display: inline-block;
    float: left;
    vertical-align: middle;
    padding-right: 5px; }
  .input-group-xs input,
  .input-group-sm input,
  .input-group-md input,
  .input-group-lg input {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    font-family: microsoft yahei; }
    .input-group-xs input:focus,
    .input-group-sm input:focus,
    .input-group-md input:focus,
    .input-group-lg input:focus {
      border: 1px solid #FF8A41;
      box-shadow: 0 0 2px 2px rgba(255, 217, 194, 0.3); }
  .input-group-xs .tip,
  .input-group-sm .tip,
  .input-group-md .tip,
  .input-group-lg .tip {
    display: none;
    position: absolute;
    top: -18px;
    left: 20%;
    font-size: 12px;
    line-height: 16px;
    background-color: #fff;
    color: #ff0000; }

.readonly input {
  border: 1px dashed #CCCCCC;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  font-family: microsoft yahei; }
  .readonly input:focus {
    border: 1px dashed #CCCCCC !important;
    box-shadow: none !important; }

/* input -- 尺寸 */
.input-group-xs {
  font-size: 12px; }
  .input-group-xs label {
    line-height: 24px;
    font-size: 12px; }
  .input-group-xs input {
    height: 24px;
    font-size: 12px; }

.input-group-sm label {
  line-height: 30px; }
.input-group-sm input {
  height: 30px; }

.input-group-md label {
  line-height: 34px; }
.input-group-md input {
  height: 34px; }

/* 文本框 */
textarea {
  border: 1px solid #CCCCCC;
  padding: 10px;
  resize: vertical;
  width: 230px;
  min-height: 60px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top; }
  textarea:focus {
    border: 1px solid #FF8A41;
    box-shadow: inset 0 1px 1px rgba(255, 217, 194, 0.3), 0 0 8px rgba(255, 217, 194, 0.3); }

/* drapdown */
.dropdown {
  position: relative;
  display: inline-block;
  min-width: 140px; }
  .dropdown a {
    display: inline-block;
    height: 34px;
    padding: 5px 20px 5px 10px;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 6px; }
  .dropdown i {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s; }
  .dropdown ul {
    border: 1px solid #CCCCCC;
    position: absolute;
    top: 33px;
    left: 0px;
    border-radius: 6px;
    background-color: #ffffff;
    z-index: 1;
    display: none;
    overflow: hidden; }
    .dropdown ul li {
      padding: 0 10px;
      line-height: 30px;
      cursor: pointer; }
      .dropdown ul li:hover {
        color: #ffffff;
        background-color: #FF8A41; }

.drop-xs a {
  height: 24px;
  padding: 3px 20px 3px 10px;
  font-size: 12px;
  border-radius: 4px; }
.drop-xs i {
  top: 5px; }
.drop-xs ul {
  top: 23px; }
  .drop-xs ul li {
    font-size: 12px;
    line-height: 24px; }

.drop-sm a {
  height: 30px; }
.drop-sm i {
  top: 8px; }
.drop-sm ul {
  top: 29px; }
  .drop-sm ul li {
    font-size: 14px;
    line-height: 30px; }

.drop-md a {
  height: 34px; }
.drop-md i {
  top: 10px; }
.drop-md ul {
  top: 33px; }
  .drop-md ul li {
    line-height: 34px; }

/* .drop-hover */
.drop-hover-border a {
  border: 1px solid #FF8A41; }
.drop-hover-border ul {
  border: 1px solid #FF8A41; }

/* 进度条 */
.progress-bar {
  width: 500px;
  height: 10px;
  background-color: #E2E4E5;
  border-radius: 5px; }
  .progress-bar .bar {
    width: 300px;
    height: 100%;
    background-color: #FF8A41;
    border-radius: 5px;
    position: relative; }
    .progress-bar .bar .percent {
      font-size: 12px;
      position: absolute;
      right: -15px;
      top: -30px;
      padding: 3px 5px;
      background-color: #FF8A41;
      border-radius: 6px;
      color: #ffffff; }
      .progress-bar .bar .percent:before {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 13px;
        width: 8px;
        height: 8px;
        background-color: #FF8A41;
        transform: rotate(45deg); }

/* 进度条 -- 上传中 */
.progress-upload {
  width: 500px;
  height: 20px;
  background-color: #E2E4E5;
  border-radius: 4px; }
  .progress-upload .bar {
    width: 300px;
    height: 100%;
    background-color: #FF8A41;
    border-radius: 4px;
    position: relative; }
    .progress-upload .bar .percent {
      font-size: 12px;
      position: absolute;
      right: 10px;
      top: 0px;
      line-height: 20px;
      color: #ffffff; }

/* 进度条 -- step */
.progress-step .step-group {
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  margin-left: -15px; }
  .progress-step .step-group .interval,
  .progress-step .step-group .step {
    background-color: #E2E4E5;
    display: inline-block;
    vertical-align: middle;
    position: relative; }
  .progress-step .step-group .step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #999999;
    font-weight: 600;
    text-align: center;
    line-height: 30px; }
  .progress-step .step-group .interval {
    width: 100px;
    height: 9px;
    left: 5px;
    z-index: -1; }
.progress-step .step-group:first-child {
  margin-left: 0; }

/* 进度条 -- step -- 背景色 */
.bgc-theme .interval,
.bgc-theme .step {
  color: #fff !important;
  background: #FF8A41 !important; }

/* 多选框 */
.check-box-group .check-parent {
  display: inline;
  margin: 0 5px;
  cursor: pointer;
  position: relative; }
  .check-box-group .check-parent:hover .icon-check-empty {
    color: #FF8A41; }
  .check-box-group .check-parent .icon-check-empty {
    color: #CCCCCC; }
  .check-box-group .check-parent .icon-check {
    color: #FF8A41;
    position: absolute;
    top: 1px;
    left: 0px; }

/* 单选框 */
.radio-group .radio-parent {
  display: inline;
  margin: 0 5px;
  cursor: pointer;
  position: relative; }
  .radio-group .radio-parent:hover .icon-circle-empty {
    color: #FF8A41; }
  .radio-group .radio-parent .icon-circle-empty {
    color: #CCCCCC; }
  .radio-group .radio-parent .icon-circle {
    color: #FF8A41;
    position: absolute;
    top: 1px;
    left: 0px; }

/* tab*/
.tab-item {
  padding: 0 10px;
  line-height: 30px;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .tab-item i {
    font-size: 14px; }

.tab-crumb,
.tab-underline,
.tab-button,
.tab-border,
.tab-btn-border {
  font-size: 0; }

.tab-crumb .tab-item i {
  margin-right: 5px; }
.tab-crumb > i {
  color: #999999;
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  position: relative;
  top: 1px; }

.tab-underline .tab-item {
  border: none;
  border-bottom: 2px solid #E2E4E5; }
  .tab-underline .tab-item:hover {
    color: #FF8A41;
    border-bottom-color: #FF8A41; }

.tab-button .tab-item {
  padding: 0 14px;
  border-radius: 4px; }
  .tab-button .tab-item:hover {
    color: #ffffff;
    background-color: #FF8A41; }
    .tab-button .tab-item:hover i {
      color: #ffffff; }
.tab-button i,
.tab-button .tab-item:not(:last-child) {
  margin-right: 5px; }

.tab-border {
  display: inline-block; }
  .tab-border .tab-item {
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    color: #999999;
    background-color: #ffffff;
    border-bottom: 1px solid #FF8A41;
    border-radius: 4px 4px 0 0; }
    .tab-border .tab-item i {
      color: #CCCCCC;
      position: relative;
      left: -7px;
      top: 1px; }
    .tab-border .tab-item:hover {
      color: #222222; }
      .tab-border .tab-item:hover i {
        color: #222222; }

.tab-btn-border {
  border-bottom: 1px solid #E2E4E5;
  padding: 0 10px;
  display: inline-block;
  margin-left: -10px; }
  .tab-btn-border .tab-item {
    padding: 0 20px;
    border: 1px solid #E2E4E5;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
    background-color: #F6F8F9; }
    .tab-btn-border .tab-item:hover {
      background-color: #FF8A41;
      color: #ffffff;
      border-color: #ED6C1C; }
      .tab-btn-border .tab-item:hover i {
        color: #ffffff; }
  .tab-btn-border .tab-item:not(:first-child) {
    margin-left: 5px; }

/* 点击 tab, 需要添加的类 */
.contra-crumb {
  color: #FF8A41; }
  .contra-crumb i {
    color: #FF8A41; }

.contra-underline {
  color: #FF8A41 !important;
  border-bottom-color: #FF8A41 !important; }

.contra-button {
  background-color: #FF8A41;
  color: #ffffff; }
  .contra-button i {
    color: #ffffff; }

.contra-border {
  color: #222222 !important;
  padding: 0 19px !important;
  line-height: 28px !important;
  border: 1px solid #FF8A41;
  border-bottom: none !important; }
  .contra-border i {
    color: #222222 !important; }

.contra-btn-border {
  background-color: #FF8A41 !important;
  color: #ffffff;
  border-color: #ED6C1C !important; }
  .contra-btn-border i {
    color: #ffffff; }

/* 提示信息 */
.alert-success,
.alert-error,
.alert-warn,
.alert-info {
  border: 1px solid #E2E4E5;
  border-radius: 4px;
  padding: 10px;
  width: 80%; }

.alert-success {
  border-color: #c9e7c9;
  background-color: #e7f5e7; }
  .alert-success span {
    color: #5eb95e; }

.alert-error {
  border-color: #f5cecd;
  background-color: #fae5e4; }
  .alert-error span {
    color: #dd514c; }

.alert-warn {
  border-color: #fbd0ae;
  background-color: #feebdd; }
  .alert-warn span {
    color: #f37b1d; }

.alert-info {
  border-color: #caebfb;
  background-color: #e1f4fd; }
  .alert-info span {
    color: #14a6ef; }

/* 分页 */
.pages-line,
.pages-filled {
  display: inline-block; }
  .pages-line div, .pages-line ul, .pages-line ul > li,
  .pages-filled div,
  .pages-filled ul,
  .pages-filled ul > li {
    float: left;
    cursor: pointer; }
  .pages-line div, .pages-line ul > li,
  .pages-filled div,
  .pages-filled ul > li {
    padding: 0 10px;
    height: 34px;
    line-height: 34px; }
  .pages-line .line-point,
  .pages-filled .line-point {
    border: none;
    cursor: auto; }

.pages-line div, .pages-line ul > li {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  margin-right: 5px; }
.pages-line ul > li {
  padding: 0 12px; }
  .pages-line ul > li:hover:not(.line-point) {
    color: #ffffff;
    background-color: #FF8A41;
    border-color: #ED6C1C !important; }
.pages-line .line-previous, .pages-line .line-next {
  padding: 0 15px; }
.pages-line .line-import {
  border: none;
  padding: 0 1px;
  position: relative; }
  .pages-line .line-import .line-border {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    border: 1px solid #CCCCCC;
    border-radius: 4px; }
  .pages-line .line-import input {
    width: 34px;
    padding-left: 5px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    margin-top: -3px; }
    .pages-line .line-import input:focus + .line-border {
      border-color: #FF8A41; }
.pages-line .line-go {
  margin-right: 0px; }
.pages-line .page-disabled {
  cursor: not-allowed !important;
  background-color: #E2E4E5; }

.pages-filled div, .pages-filled ul > li {
  background-color: #FF8A41; }
.pages-filled div > i, .pages-filled div > span, .pages-filled ul > li {
  color: #ffffff; }
.pages-filled ul > li {
  padding: 0 13px; }
  .pages-filled ul > li:hover:not(.point) {
    background-color: #ED6C1C !important; }
.pages-filled ul > li:not(:last-child) {
  border-right: 1px solid #ED6C1C; }
.pages-filled .previous {
  border-radius: 4px 0 0 4px;
  margin-right: 5px; }
.pages-filled .next {
  border-radius: 0 4px 4px 0;
  margin-left: 5px; }

.line-contra {
  color: #ffffff;
  background-color: #FF8A41;
  border-color: #ED6C1C !important; }

.filled-contra {
  background-color: #ED6C1C !important; }

/* tree-view */
.tree-view {
  padding: 10px;
  display: inline-block;
  vertical-align: top; }
  .tree-view i, .tree-view span {
    cursor: pointer; }
  .tree-view span {
    display: inline-block;
    padding: 3px 5px; }
    .tree-view span:hover {
      background-color: #F6F8F9; }
  .tree-view li {
    position: relative;
    /* 改名html的动态样式 */ }
    .tree-view li > i:first-child {
      margin-right: 5px;
      color: #CCCCCC; }
    .tree-view li > i:nth-child(2) {
      color: #FFC674; }
    .tree-view li .change {
      background-color: #fff;
      display: inline-block; }
      .tree-view li .change > input {
        border: 1px solid #3390FF;
        border-radius: 4px;
        padding: 2px 5px;
        font-size: 14px;
        font-family: microsoft yahei;
        min-width: 70px;
        vertical-align: inherit; }
      .tree-view li .change > i {
        margin-left: 5px;
        color: #CCCCCC;
        font-size: 17px;
        position: relative;
        top: 1px; }
        .tree-view li .change > i:hover {
          color: #FF8A41; }
  .tree-view .first > li:not(:last-child),
  .tree-view .second > li:not(:last-child),
  .tree-view .third > li:not(:last-child),
  .tree-view .fourth > li:not(:last-child),
  .tree-view .fifth > li:not(:last-child) {
    padding: 0px 0px 5px 20px; }
  .tree-view .first > li:last-child,
  .tree-view .second > li:last-child,
  .tree-view .third > li:last-child,
  .tree-view .fourth > li:last-child,
  .tree-view .fifth > li:last-child {
    padding: 0px 0px 0px 20px; }
  .tree-view .first > li {
    padding-left: 0px !important; }

/* tree-view-slim */
.tree-view-slim {
  display: inline-block;
  vertical-align: top; }
  .tree-view-slim ul li {
    width: 180px;
    /* hover*/
    /* 有子集菜单的 -- 点击效果 */
    /* 没有子集菜单 -- 点击效果 */ }
    .tree-view-slim ul li a {
      display: inline-block;
      width: 100%;
      padding: 5px 15px 5px 0px; }
      .tree-view-slim ul li a i {
        display: inline-block;
        transition: all 0.3s;
        color: #CCCCCC; }
    .tree-view-slim ul li .a-hover {
      background-color: #F6F8F9; }
    .tree-view-slim ul li .a-hasChild {
      background-color: #FF8A41; }
      .tree-view-slim ul li .a-hasChild i, .tree-view-slim ul li .a-hasChild span {
        color: #ffffff; }
    .tree-view-slim ul li .a-noChild i, .tree-view-slim ul li .a-noChild span {
      color: #FF8A41; }
  .tree-view-slim .first a {
    padding-left: 10px; }
  .tree-view-slim .second a {
    padding-left: 25px; }
  .tree-view-slim .third a {
    padding-left: 40px; }
  .tree-view-slim .fourth a {
    padding-left: 55px; }
  .tree-view-slim .fifth a {
    padding-left: 70px; }

/*  table  */
.table {
  width: 100%;
  font-size: 14px;
  line-height: 24px; }
  .table th, .table td {
    text-align: center; }
  .table tbody tr:hover {
    background-color: #CCCCCC !important; }

/* 只有bottom边框 */
.table-bottom thead, .table-bottom tr {
  border-bottom: 1px solid #CCCCCC; }

/* 全部有边框 */
.table-border th, .table-border td {
  border: 1px solid #CCCCCC; }

/* 隔行变色 */
.table-striped tbody tr:nth-child(odd) {
  background-color: #F6F8F9; }
.table-striped tbody tr:hover {
  background-color: #CCCCCC; }

/* 遮罩层(#mask-layer) -- 弹窗(.layer-popup) -- 侧滑(.layer-sidle) */
#mask-layer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  overflow-y: auto;
  /* 弹窗 */
  /* 侧边弹出 */ }
  #mask-layer .layer-popup {
    border: 1px solid #E2E4E5;
    border-radius: 6px;
    background-color: #fff;
    position: absolute;
    top: -5000px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5% auto;
    width: 450px;
    min-height: 135px;
    overflow: auto;
    position: relative; }
    #mask-layer .layer-popup .title,
    #mask-layer .layer-popup .content,
    #mask-layer .layer-popup .opera {
      width: 100%;
      padding: 10px; }
    #mask-layer .layer-popup .title {
      border-bottom: 1px solid #E2E4E5;
      border-radius: 6px 6px 0px 0px;
      background-color: #f6f8f9; }
      #mask-layer .layer-popup .title i {
        float: right;
        cursor: pointer; }
        #mask-layer .layer-popup .title i:hover {
          color: #FF8A41; }
    #mask-layer .layer-popup .content {
      padding: 100px 0;
      text-align: center;
      background-color: #fff;
      max-height: 400px;
      overflow: auto; }
    #mask-layer .layer-popup .opera {
      border-top: 1px solid #E2E4E5;
      border-radius: 0 0 6px 6px; }
  #mask-layer .layer-sidle {
    background-color: #fff;
    border: 1px solid #E2E4E5;
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0; }
    #mask-layer .layer-sidle .title {
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid #E2E4E5;
      background-color: #f6f8f9; }
      #mask-layer .layer-sidle .title i {
        float: right;
        cursor: pointer;
        position: relative;
        top: 2px; }
        #mask-layer .layer-sidle .title i:hover {
          color: #FF8A41; }
    #mask-layer .layer-sidle .content {
      width: 100%; }

/* slider -- 轮播图 */
.slider {
  width: 100%;
  overflow: hidden;
  position: relative; }
  .slider .slider-main {
    position: absolute;
    top: 0px;
    left: 0px; }
    .slider .slider-main .slider-main-item {
      float: left; }
      .slider .slider-main .slider-main-item a {
        display: inline-block; }
        .slider .slider-main .slider-main-item a img {
          width: 100%; }
  .slider .slider-extra .extra-nav {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -60px; }
    .slider .slider-extra .extra-nav .extra-nav-item {
      float: left;
      cursor: pointer;
      position: relative; }
      .slider .slider-extra .extra-nav .extra-nav-item span {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #FF8A41;
        opacity: .5;
        float: left; }
      .slider .slider-extra .extra-nav .extra-nav-item i {
        color: #FF8A41;
        position: absolute;
        top: 0px;
        left: 0px; }
      .slider .slider-extra .extra-nav .extra-nav-item:hover i {
        font-size: 27px;
        top: -7px;
        left: -5px; }
    .slider .slider-extra .extra-nav .extra-nav-item:not(:last-child) {
      margin-right: 5px; }
  .slider .slider-extra .extra-page a {
    z-index: -1;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    width: 28px;
    height: 62px;
    line-height: 62px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    font-family: simsun; }
    .slider .slider-extra .extra-page a:hover {
      background: rgba(0, 0, 0, 0.8); }
  .slider .slider-extra .extra-page .extra-page-prev {
    left: 0em; }
  .slider .slider-extra .extra-page .extra-page-next {
    right: 0em; }

.img-square,
.img-round {
  display: inline-block;
  vertical-align: top;
  border: 2px solid #CCCCCC;
  padding: 5px; }
  .img-square img,
  .img-round img {
    cursor: pointer; }
  .img-square:hover,
  .img-round:hover {
    border-color: #FF8A41; }

.img-square {
  border-radius: 4px; }
  .img-square img {
    border-radius: 4px; }

.img-round {
  border-radius: 50%; }
  .img-round img {
    border-radius: 50%; }

/* date */
.datePicker {
  display: inline-block;
  vertical-align: top; }
  .datePicker .container {
    position: relative; }
    .datePicker .container .inputBox {
      position: relative;
      display: inline-block; }
      .datePicker .container .inputBox > input {
        height: 30px;
        width: 200px;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        padding: 0 25px 0 5px;
        font-family: "microsoft yahei"; }
        .datePicker .container .inputBox > input:focus {
          border-color: #FF8A41; }
        .datePicker .container .inputBox > input:focus + i {
          color: #FF8A41; }
      .datePicker .container .inputBox > i {
        color: #CCCCCC;
        position: absolute;
        top: 6px;
        right: 6px;
        cursor: pointer; }
    .datePicker .container .dateBox {
      display: none;
      position: absolute;
      left: 0;
      top: 40px;
      border: 1px solid #CCCCCC;
      border-radius: 4px;
      background-color: #fff;
      width: 240px;
      z-index: 1;
      /*  全部table 公用样式,
      */
      /* 初始化 */
      /* 年份、月份 公用样式 */
      /* 年份 */
      /* 月份 */
      /* 小时、分钟、秒数 公用样式 */
      /* 小时 */
      /* 分钟 + 秒数 */ }
      .datePicker .container .dateBox table {
        width: 100%;
        text-align: center; }
        .datePicker .container .dateBox table thead {
          font-size: 12px; }
        .datePicker .container .dateBox table tbody td span {
          cursor: pointer;
          display: block;
          font-size: 12px;
          border: 1px solid transparent; }
      .datePicker .container .dateBox .today span {
        border-color: #FF8A41 !important; }
      .datePicker .container .dateBox .active span {
        background-color: #FF8A41 !important;
        color: #ffffff !important; }
      .datePicker .container .dateBox .inactive span {
        color: #CCCCCC; }
      .datePicker .container .dateBox .init-box .date-head {
        position: relative;
        padding: 5px;
        text-align: center; }
        .datePicker .container .dateBox .init-box .date-head i {
          position: absolute;
          top: 7px;
          font-weight: 600;
          cursor: pointer;
          color: #CCCCCC; }
          .datePicker .container .dateBox .init-box .date-head i:hover {
            color: #FF8A41; }
        .datePicker .container .dateBox .init-box .date-head .prev-year {
          left: 10px; }
        .datePicker .container .dateBox .init-box .date-head .prev-month {
          left: 30px; }
        .datePicker .container .dateBox .init-box .date-head .next-month {
          right: 30px; }
        .datePicker .container .dateBox .init-box .date-head .next-year {
          right: 10px; }
        .datePicker .container .dateBox .init-box .date-head .select-time .select-year,
        .datePicker .container .dateBox .init-box .date-head .select-time .select-month {
          font-size: 12px;
          font-weight: 600;
          cursor: pointer; }
          .datePicker .container .dateBox .init-box .date-head .select-time .select-year:hover,
          .datePicker .container .dateBox .init-box .date-head .select-time .select-month:hover {
            color: #FF8A41; }
        .datePicker .container .dateBox .init-box .date-head .select-time .select-month {
          margin-left: 25px; }
      .datePicker .container .dateBox .init-box .date-body {
        padding: 5px;
        border-top: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC; }
        .datePicker .container .dateBox .init-box .date-body table tbody td {
          padding: 2px 3px; }
          .datePicker .container .dateBox .init-box .date-body table tbody td span {
            padding: 3px 0px;
            border-radius: 4px; }
            .datePicker .container .dateBox .init-box .date-body table tbody td span:hover {
              background-color: #ffd9c2; }
      .datePicker .container .dateBox .init-box .date-foot {
        padding: 5px; }
        .datePicker .container .dateBox .init-box .date-foot .foot-time {
          display: inline-block; }
          .datePicker .container .dateBox .init-box .date-foot .foot-time input {
            width: 30px;
            padding: 2px 5px;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            font-family: "microsoft yahei"; }
            .datePicker .container .dateBox .init-box .date-foot .foot-time input:hover, .datePicker .container .dateBox .init-box .date-foot .foot-time input:focus {
              border-color: #FF8A41 !important; }
          .datePicker .container .dateBox .init-box .date-foot .foot-time input {
            margin: 0px 3px; }
          .datePicker .container .dateBox .init-box .date-foot .foot-time input:first-child {
            margin-left: 0px; }
        .datePicker .container .dateBox .init-box .date-foot .foot-btn {
          display: inline-block;
          float: right; }
          .datePicker .container .dateBox .init-box .date-foot .foot-btn span {
            display: inline-block;
            padding: 2px 4px;
            cursor: pointer;
            font-size: 12px; }
            .datePicker .container .dateBox .init-box .date-foot .foot-btn span:hover {
              color: #FF8A41; }
      .datePicker .container .dateBox .year-box,
      .datePicker .container .dateBox .month-box {
        display: none; }
        .datePicker .container .dateBox .year-box .date-head,
        .datePicker .container .dateBox .month-box .date-head {
          position: relative;
          padding: 5px;
          text-align: center;
          border-bottom: 1px solid #CCCCCC; }
          .datePicker .container .dateBox .year-box .date-head i,
          .datePicker .container .dateBox .month-box .date-head i {
            position: absolute;
            top: 7px;
            font-weight: 600;
            cursor: pointer;
            color: #CCCCCC; }
            .datePicker .container .dateBox .year-box .date-head i:hover,
            .datePicker .container .dateBox .month-box .date-head i:hover {
              color: #FF8A41; }
          .datePicker .container .dateBox .year-box .date-head i:first-child,
          .datePicker .container .dateBox .month-box .date-head i:first-child {
            left: 15px; }
          .datePicker .container .dateBox .year-box .date-head i:last-child,
          .datePicker .container .dateBox .month-box .date-head i:last-child {
            right: 15px; }
          .datePicker .container .dateBox .year-box .date-head .select-month,
          .datePicker .container .dateBox .year-box .date-head .select-year,
          .datePicker .container .dateBox .month-box .date-head .select-month,
          .datePicker .container .dateBox .month-box .date-head .select-year {
            font-size: 12px;
            font-weight: 600; }
      .datePicker .container .dateBox .year-box .date-body table tbody td {
        padding: 9px 14px; }
        .datePicker .container .dateBox .year-box .date-body table tbody td span {
          padding: 10px 10px;
          border-radius: 4px; }
          .datePicker .container .dateBox .year-box .date-body table tbody td span:hover {
            background-color: #ffd9c2; }
      .datePicker .container .dateBox .month-box .date-body table tbody td {
        padding: 9px 15px; }
        .datePicker .container .dateBox .month-box .date-body table tbody td span {
          padding: 10px 5px;
          border-radius: 4px;
          width: 48px; }
          .datePicker .container .dateBox .month-box .date-body table tbody td span:hover {
            background-color: #ffd9c2; }
            .datePicker .container .dateBox .month-box .date-body table tbody td span:hover i {
              color: #ffffff; }
      .datePicker .container .dateBox .hour-box,
      .datePicker .container .dateBox .minute-box,
      .datePicker .container .dateBox .second-box {
        display: none; }
        .datePicker .container .dateBox .hour-box .date-head,
        .datePicker .container .dateBox .minute-box .date-head,
        .datePicker .container .dateBox .second-box .date-head {
          padding: 5px;
          text-align: center;
          border-bottom: 1px solid #CCCCCC; }
          .datePicker .container .dateBox .hour-box .date-head span,
          .datePicker .container .dateBox .minute-box .date-head span,
          .datePicker .container .dateBox .second-box .date-head span {
            font-size: 12px;
            font-weight: 600; }
      .datePicker .container .dateBox .hour-box .date-body table {
        /**/ }
        .datePicker .container .dateBox .hour-box .date-body table td {
          padding: 4px 10px 0 10px; }
          .datePicker .container .dateBox .hour-box .date-body table td span {
            padding: 7px 5px;
            border-radius: 4px; }
            .datePicker .container .dateBox .hour-box .date-body table td span:hover {
              background-color: #ffd9c2; }
        .datePicker .container .dateBox .hour-box .date-body table tbody tr:last-child td {
          padding-bottom: 4px; }
      .datePicker .container .dateBox .minute-box .date-body table td, .datePicker .container .dateBox .second-box .date-body table td {
        padding: 8px 1px; }
        .datePicker .container .dateBox .minute-box .date-body table td span, .datePicker .container .dateBox .second-box .date-body table td span {
          line-height: 20px;
          border-radius: 2px; }
          .datePicker .container .dateBox .minute-box .date-body table td span:hover, .datePicker .container .dateBox .second-box .date-body table td span:hover {
            background-color: #ffd9c2; }
    .datePicker .container .dateBox:before {
      content: '';
      width: 7px;
      height: 7px;
      position: absolute;
      top: -5px;
      left: 13px;
      transform: rotate(45deg);
      border-left: 1px solid #CCCCCC;
      border-top: 1px solid #CCCCCC;
      background-color: #ffffff; }

/* i-gallery-img */
.i-gallery-img,
.i-gallery-all {
  display: inline-block;
  vertical-align: top; }
  .i-gallery-img .text,
  .i-gallery-all .text {
    padding: 5px 10px; }
    .i-gallery-img .text p,
    .i-gallery-all .text p {
      margin: 5px 0; }
    .i-gallery-img .text .title,
    .i-gallery-all .text .title {
      font: 600 16px 'microsoft yahei'; }
    .i-gallery-img .text .explain,
    .i-gallery-all .text .explain {
      font: 500 14px 'microsoft yahei'; }
    .i-gallery-img .text .time,
    .i-gallery-all .text .time {
      font: 400 12px 'microsoft yahei';
      color: #CCCCCC; }
    .i-gallery-img .text .btn,
    .i-gallery-all .text .btn {
      margin: 10px 0 0px 0; }

/* i-label */
.i-badge-info,
.i-badge-success,
.i-badge-warn,
.i-badge-error,
.i-badge-default,
.i-label-info,
.i-label-success,
.i-label-warn,
.i-label-error,
.i-label-default {
  display: inline-block;
  vertical-align: top;
  border-radius: 4px;
  padding: 0px 8px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  cursor: pointer; }

.i-badge-info,
.i-badge-success,
.i-badge-warn,
.i-badge-error,
.i-badge-default {
  padding: 0;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center; }

.i-badge-info,
.i-label-info {
  background-color: #1D98F9; }

.i-badge-success,
.i-label-success {
  background-color: #00BFA5; }

.i-badge-warn,
.i-label-warn {
  background-color: #FF8A41; }

.i-badge-error,
.i-label-error {
  background-color: #FC263C; }

.i-badge-default,
.i-label-default {
  background-color: #cccccc; }

/* 常用类 */
.theme-bgc {
  background-color: #FF8A41; }

.theme-text {
  color: #FF8A41; }

/*  辅助类  */
.hide {
  display: none; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

/* 清除浮动 */
.btn,
.slider-main,
.pages-line,
.pages-filled {
  *zoom: 1;
  /*IE/7/6*/ }
  .btn:before,
  .slider-main:before,
  .pages-line:before,
  .pages-filled:before {
    content: "";
    display: table; }
  .btn:after,
  .slider-main:after,
  .pages-line:after,
  .pages-filled:after {
    content: "";
    display: table;
    clear: both; }

/*
   use.html 的换肤
*/
#iconPic ul li:hover i {
  color: #FF8A41 !important; }

/*# sourceMappingURL=ui.css.map */
