@charset "UTF-8";
#iconPic{
  ul li{
    i{
      cursor: pointer;
      transition: .2s;
    }
    &:hover{
      i{
        color: $theme-hover !important;
        transform: scale(1.3);
      }
    }
  }
}

.info-sidle{
  a{
    transition: .2s;
    &:hover{
      color: $theme-hover;
    }
  }
}
.li-border{
  border-color: $theme-normal !important;
  a{
    color: $theme-normal !important;
    font-weight: 500;
  }
}