@charset "UTF-8";
#iconPic{
  ul li{
    i{
      cursor: pointer;
      transition: .2s;
    }
    &:hover{
      i{
        color: $theme-hover !important;
        transform: scale(1.3);
      }
    }
  }
}
