@charset "UTF-8";
.main{
  >.opera{
    padding-bottom: 10px;

  }// .opera

  >.content-show{
    background-color: #fff;
    border: 1px solid #E3E4E6;
    border-radius: 4px;
    padding: 0 15px;
  }// .content-show

  .table{
    border: none;
    thead{
      .all-checked{
        width: 50px;
        text-align: right;
      }
      .serial{
        width: 60px;
      }
    }
    tbody{
      //font-size: 14px;


    }
  }

  .pages{
    padding: 15px;
  }
}// .main


//  =========================================
@mixin li-label($color){
  .li-#{$color}{
    border: 1px solid #E3E4E6;
    border-radius: 4px;
    padding: 3px 10px 3px 0;
    cursor: pointer;
    transition-property: color, border, background;
    transition-duration: .7s;

    &:before{
      display: inline-block;
      content: '';
      width: 12px;
      height: 12px;
      margin: 0 10px;
      border-radius: 50%;
      background-color: unquote('#'+$color);
    }

    &:hover{
      color: #ffffff !important;
      background-color: unquote('#'+$color) !important;
      border-color: unquote('#'+$color) !important;
      box-shadow: inset 0 0px 0px rgba(0,0,0, 0), 0 0 0 0px rgba(0,0,0, 0) !important;
    }
  }

  .label-#{$color}{
    cursor: pointer;
    display: inline;
    border-radius: 2px;
    color: #ffffff;
    background-color: unquote('#'+$color);
  }
}//  @li-label()

@mixin li-label-ing(){
  @include li-label('EA1E63');// 贷款人
  @include li-label('9B27B1');// 借款人
  @include li-label('763AB8');// 身份证号码
  @include li-label('3F52B5');// 担保人
  @include li-label('5776FB');// 贷款款金额
  @include li-label('03A9F3');// 币种
  @include li-label('01BCD6');// 贷款种类
  @include li-label('019586');// 贷款用途
  @include li-label('259B25');// 贷款利率
  @include li-label('8CC24A');// 贷款期限
  @include li-label('CDDC3A');// 起始日
  @include li-label('FEC108');// 终止日
  @include li-label('FF9700');// 罚息
  @include li-label('FF5722');// 签署日期
  @include li-label('E51C23');// 账户
  @include li-label('795548');// 预付款

  @include li-label('E51C23');//
  @include li-label('FF5722');//
  @include li-label('FFEB3B');//
  @include li-label('FFB74D');//
  @include li-label('AED581');//
  @include li-label('FF461F');//


}//  @li-label-ing()

@include li-label-ing();


//  =========================================
#tipTitle{
  border: 1px solid #1D98F9;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(29,152,248, .2), 0 0 0 2px rgba(29,152,248, .2);
  background: #f3f3f3;
  color: #1D98F9;
  padding: 2px 4px;
  font-family: "Microsoft YaHei";
  position: absolute;
  z-index: 1;

}

// 添加类型
.modal-wrap{
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5px 0;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: calc(100% + 5px);
  transform: translate(-50%, 0);
  display: none;
  z-index: 1;
  &:before{
    //content: '';
    //width: 8px;
    //height: 8px;
    //position: absolute;
    //top: 0%;
    //left: 50%;
    //transform: translate(-50%, calc(-50% - 1px)) rotate(-45deg);
    //border-top: 1px solid $border-col;
    //border-right: 1px solid $border-col;
    //background-color: #fff;
    //transition: .3s;
  }
}// .modal-wrap







