.input-group,
.input-group-label{
  display: inline-block;
  vertical-align: middle;
}

.input-group-label + .input-group>.input-group-form{
  border-radius: $border-radius-base;
}

.input-group{
  @include clearfix();

  .input-group-label{
    padding: 0 10px;
    line-height: $height-sm;
  }

  .input-group-form{
    height: $height-sm;
    width: 152px;
    font-size: 14px;
    border-radius: $border-radius-base;
  }

  .input-group-btn{
    float: left;
    .btn{
      border-color: $theme-normal;
    }
  }



}// input-group


.input-group-lg{
  height: $height-lg;
}

.input-group-md{
  height: $height-md;
}

.input-group-sm{
  height: $height-sm;
}

.input-group-xs{
  height: $height-xs;
}



