input, textarea{
  @include transition();
}

input:hover,
textarea:hover{
  border-color: $theme-hover;
}

input:not(.i-date-picker),
textarea{
  &:focus{
    outline: 0;
    border-color: $theme-hover;
    box-shadow: $theme-rgb1 0px 0px 0px 2px;
    //box-shadow: inset 0 1px 2px $theme-opacity, 0 0 0 2px $theme-opacity;
    //box-shadow: rgba(45, 140, 240, 0.2) 0px 0px 0px 2px;
  }
}


input.disabled{
  border: 1px dashed $border-col;
  cursor: no-drop;
  &:hover{
    border-color: $border-col !important;
  }
  &:focus{
    border-color: $border-col !important;
    box-shadow: none !important;
  }
}
