@charset "UTF-8";
.i-page-line, .i-page-fill{
  font-size: 12px !important;
  @include clearfix();
}

.i-page-line{

  div, ul, li, input{
    float: left;
    height: $height-sm;
  }

  div, li, input{
    padding: $padding-ver-sm $padding-hor-sm;
    border: 1px solid $border-col;
    border-radius: $border-radius-base;
    margin-right: 5px;
  }

  div, li, input{
    cursor: pointer;
    border: 1px solid $border-col;
    border-radius: $border-radius-base;
    @include transition();
    &:hover{
      border-color: $theme-normal;
      color: $theme-normal;
    }
  }

  li{
    min-width: $height-sm;
  }




  .i-line-input{
    width: 35px;
    cursor: auto;
    color: $text-col !important;
    &:focus{
      border-color: $theme-hover;
    }
  }

  .i-line-goto{
    margin-right: 0;
  }

  .i-line-current{
    color: $white;
    border-color: $theme-normal !important;
    background-color: $theme-normal;
    &:hover{
      color: $white !important;
      border-color: $theme-normal !important;
      background-color: $theme-normal;

    }
  }

  .i-line-disabled{
    color: $six9 !important;
    border-color: $border-col !important;
    background-color: $hover-bg !important;
    cursor: no-drop;
  }

  .i-line-first{

  }

  .i-line-last{

  }

}// i-page-line


.i-page-fill{
  div, ul, li{
    float: left;
  }

  div, li{
    background-color: $theme-normal;
    height: $height-sm;
    line-height: $height-sm;
    padding: 0 $padding-hor-sm;
    min-width: 30px;
    color: #ffffff;
    cursor: pointer;
  }

  li:not(:last-child){
    border-right: 1px solid $theme-click;
  }

  .i-fill-first{
    margin-right: 3px;
    @include border-left-radius(4px);
  }

  .i-fill-last{
    margin-left: 3px;
    @include border-right-radius(4px);
  }

  .i-fill-current{
    background-color: $theme-click !important;
  }
}// .i-page-fill


