@charset "UTF-8";

.i-page-line{
  display: inline-block;
  vertical-align: middle;
  font-size: 12px !important;
  @include clearfix();

  div, ul, ul>li{
    float: left;
  }

  div, ul>li{
    float: left;
    line-height: $line-height-base;
    padding: $padding-ver-sm $padding-hor-sm;
  }

  div, ul>li{
    border: 1px solid $border-col;
    border-radius: $border-radius-base;
    margin-right: 5px;
  }

  div:not(.i-line-import),
  ul>li:not(.i-line-omit){
    cursor: pointer;
    border: 1px solid $border-col;
    border-radius: $border-radius-base;
    margin-right: 5px;
    @include transition();
    &:hover{
      border-color: $theme-normal;
      color: $theme-normal;
    }
  }

  i-line-omit{// 省略...

  }

  .i-line-import{
    position: relative;
    border: none;
    padding: 0;
    width: 35px;
    height: $height-sm;
    >input{
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .i-line-go{
    margin-right: 0;
  }

  .i-line-current{
    color: $white;
    border-color: $theme-normal !important;
    background-color: $theme-normal;
    &:hover{
      color: $white !important;
      border-color: $theme-normal !important;
      background-color: $theme-normal;

    }
  }

  .i-line-disabled{
    color: $text-col !important;
    border-color: $border-col !important;
    background-color: $hover-bg !important;
    cursor: not-allowed;
  }

  .i-line-first{

  }

  .i-line-last{

  }

}// i-page-line





