.i-radio-group{
  display: inline-block;

  .i-radio-item{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;

    .i-radio-wrap{
      display: inline-block;
      vertical-align: text-bottom;
      width: 16px;
      height: 16px;
      position: relative;

      .i-radio-inner, .i-radio-check{
        transition: .2s;
        font-size: 16px;
        position: absolute;
        left: 0;
      }

      .i-radio-inner{

      }

      .i-radio-check{
        transform: scale(0);
      }
    }// .wrap
    &:hover{
      .i-radio-inner{
        color: $theme-hover;
      }
    }
  }// .item

  .i-radio-checked{
    .i-radio-wrap{
      .i-radio-inner, .i-radio-check{
        color: $theme-hover;
      }

      .i-radio-check{
        transform: scale(.6);
      }
    }


  }// .checked
}// .radio-group

