@charset "UTF-8";
$width: 180px;
$height: 60px;

#navHead,
#navSidle,
#navContent {
  @include transition();
}


// #navHead
// =====================================
#navHead{
  width: calc(100% - 180px);
  left: $width;
  height: $height;
  padding-left: 60px;
  background-color: $white;
  box-shadow: 0px 2px 6px #ccc;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}// #navHead
#navHead.to-open{
  width: calc(100% - 60px);
  left: 60px;
}




// #navSidle
// =====================================
#navSidle{
  width: $width;
  background-color: $white;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;

  /* 导航主体 */
  .sidle-accordion{
    padding: 70px 0 10px 0;

    .panel{

      a{
        display: table;
        width: 100%;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        padding: 0 10px;
        position: relative;
        border-right: 2px solid transparent;
        white-space: normal;
        @include transition();

        span, i{
          @include transition();
          display: table-cell;
        }

        span{
          padding-left: 10px;
          white-space: normal;
        }

        i{
          width: 16px;
          color: #999999;
        }

        span + i{
          text-align: center;
          //@include transition();
        }

        &:hover{
          color: $theme-normal;
          i{
            color: $theme-normal;
          }
        }
      }// a

      ul{
        display: none;

        li{
          white-space: normal;
          a{
            padding-left: 36px;
          }
        }
      }// ul

      .active{
        color: $theme-normal !important;// 防止 hover
        border-color: $theme-normal;
        background-color: $theme-rgb1;
        i{
          color: $theme-normal;
        }
      }
      .active-parent{
        i,span{
          color: $theme-normal !important;
        }
      }
    }// .panel
  }// .sidle-accordion

  #collapseBtn{
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: -60px;

    i{
      cursor: pointer;
      &:hover{
        color: $theme-normal;
      }
    }
  }// #collapseBtn

  .i-logo{
    width: $width;
    height: $height;
    line-height: $height;
    text-align: right;
    cursor: pointer;

    background: #ffffff;
    position: absolute;
    z-index: 1;
    @include transition(.3s);

    img{
      vertical-align: top;
    }
    .i-logo-lg{
      width: 180px;
      height: 60px;
    }
    .i-logo-sm{
      display: none;
    }
  }// .i-logo

  .sidle-accordion, .slimScrollDiv{
    @include transition();
  }

  .slimScrollBar{
    z-index: 0 !important;
  }
}// #navSidle
// ========================================================================
#navSidle.i-sidle-slim{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $height;

  .sidle-accordion{
    width: $height !important;
    .panel{
      position: relative;

      >a{
        .icon-arrow-right, span{
          display: none;
        }
      }
      a{
        padding: 0;
        text-align: center;

        i{
          font-size: 20px;;
          &:first-child{
            display: inline-block !important
          }
          &:last-child{
            display: none;
          }
        }


      }// >a

      ul{
        display: none;
        position: absolute;
        top: 0;
        left: 60px;
        border-radius: 4px;
        box-shadow: 2px 2px 6px $theme-rgb1;
        background-color: #ffffff;
        border: 1px solid $theme-rgb4;
        min-width: 180px;

        li{
          line-height: 30px;
          a{
            padding: 0 10px;
            text-align: left;
            @include transition();
            &:hover {
              color: $theme-normal;
            }
          }
        }
      }// >ul

      a{
        border: none;
      }
      a.active{
        color: $theme-normal !important;// 防止 hover
        background-color: $theme-rgb1;
        i{
          color: $theme-normal;
        }
      }
    }// .panel
  }

  #collapseBtn{
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    right: -60px;

    i{
      transform: rotate(90deg);
    }
  }

  .i-logo{
    width: $height;
    .i-logo-lg{
      display: none;
    }
    .i-logo-sm{
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-top: 5px;
    }
  }// .i-logo

  .sidle-accordion,
  .slimScrollDiv{
    overflow: visible !important;
  }

  .slimScrollDiv{
    width: 60px !important;
  }
  .slimScrollBar{
    display: none !important;
  }
}// #navSidleSlim




// #navContent
// =====================================
#navContent {
  padding-top: $height;
  padding-left: $width;

  .content-item{
    background-color: #F0F0F0;
    box-shadow: 2px 0px 6px #ccc inset;
    padding: 10px;
  }
}// #navContent

