$theme-normal: #FF8A41;
$theme-hover: #ED6C1C;
$theme-click: #ffd9c2;
$theme-opacity: rgba(255,138,65, .1);

//$theme-normal: #ED5565;
//$theme-hover: #DA4453;
//$theme-click: #FA7A87;
//$theme-opacity: rgba(237,85,101, .1);

//$theme-normal: #00BFA5;
//$theme-hover: #04A28D;
//$theme-click: #0BDABE;
//$theme-opacity: rgba(0,191,165, .1);

//$theme-normal: #1D98F9;
//$theme-click: #0283E8;
//$theme-hover: #44ABFD;
//$theme-opacity: rgba(29,152,248, .1);