@charset "utf-8";

/* tree-view */
.i-tree-view{
  padding: 10px;
  display: inline-block;
  vertical-align: top;

  i, span{
    cursor: pointer;
  }

  span{
    display: inline-block;
    padding: 3px 5px;
    &:hover{
      background-color: $content-bg;
    }
  }

  ul{

  }

  li{
    position: relative;
    /* 改名html的动态样式 */
    >i:first-child{
      margin-right: 5px;
      color: $sixC;
    }
    >i:nth-child(2){
      color: #FFC674;

    }
    .change{
      background-color: #fff;
      display: inline-block;
      >input{
        border: 1px solid #3390FF;
        border-radius: 4px;
        padding: 2px 5px;
        font-size: 14px;
        font-family: microsoft yahei;
        min-width: 70px;
        vertical-align: inherit;
      }
      >i{
        margin-left: 5px;
        color: $sixC;
        font-size: 17px;
        position: relative;
        top: 1px;
        &:hover{
          color: $theme-normal;
        }
      }
    }
  }

  .first>li:not(:last-child),
  .second>li:not(:last-child),
  .third>li:not(:last-child),
  .fourth>li:not(:last-child),
  .fifth>li:not(:last-child){
    padding: 0px 0px 5px 20px;
  }


  .first>li:last-child,
  .second>li:last-child,
  .third>li:last-child,
  .fourth>li:last-child,
  .fifth>li:last-child{
    padding: 0px 0px 0px 20px;
  }


  .first>li{
    padding-left: 0px !important;
  }
  .second>li{

  }
  .third>li{

  }
  .fourth>li{

  }
  .fifth>li{

  }
}


/* tree-view-slim */
.i-tree-view-slim{
  $paddingL: 10px;
  //border: 1px solid $theme-normal;
  display: inline-block;
  vertical-align: top;
  ul{
    li{
      width: 180px;
      a{
        display: inline-block;
        width: 100%;
        padding: 5px 15px 5px 0px;
        i{
          display: inline-block;
          transition: all 0.3s;
          color: $sixC;
        }
        span{

        }

      }

      /* hover*/
      .a-hover{
        background-color: $content-bg;
      }

      /* 有子集菜单的 -- 点击效果 */
      .a-hasChild{
        background-color: $theme-normal;
        i, span{
          color: $sixF;
        }
      }

      /* 没有子集菜单 -- 点击效果 */
      .a-noChild{
        i, span{
          color: $theme-normal;
        }
      }

    }
  }

  .first{
    a{
      padding-left: $paddingL;
    }
  }
  .second{
    a{
      padding-left: $paddingL + 15;
    }
  }
  .third{
    a{
      padding-left: $paddingL + 2*15;
    }
  }
  .fourth{
    a{
      padding-left: $paddingL + 3*15;
    }
  }
  .fifth{
    a{
      padding-left: $paddingL + 4*15;
    }
  }
}