.clearfix{
  @include clearfix();
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.i-back-col{
  background-color: $theme-normal !important;
}

.i-text-col{
  color: $theme-normal !important;
}

.i-border-col{
  border-color: $theme-normal !important;
}

.i-border-shadow{
  box-shadow: $theme-rgb1 0px 0px 0px 2px;
}

.i-pseudo-class{
  &::before,
  &::after{
    @include transition();
    color: $theme-normal !important;
  }
}

.ver-mid{
  display: inline-block;
  vertical-align: middle;
}
