$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

@media (max-width: $screen-sm-min){
  .text p{
    font-size: 18px;
  }
}

@media (min-width: $screen-sm-min){
  .text p{
    font-size: 24px;
  }
}

@media (min-width: $screen-md-min){
  .text p{
    font-size: 30px;
  }
}

@media (min-width: $screen-lg-min){
  .text p{
    font-size: 36px;
  }
}

.content-item{
  background-color: #fff !important;
  .text{
    text-align: center;
    padding: 100px 0 50px 0;

    p{
      margin: 0 auto;
      width: 80%;
    }
    .down-load{
      margin: 40px auto;
      width: 260px;
      font-size: 20px;
      line-height: 1.6;
    }
    .version{
      color: #CCCCCC;
      font-size: 12px;
    }
  }

  .image{
    text-align: center;
    img{
      height: 400px;
    }
  }
}
