@charset "utf-8";
.content-item{
  padding: 0 0 40px 0 !important;
  position: relative;
  min-width: 1200px;

  .introduce{
    padding: 30px 40px 0 40px;
    background-color: #EAEAEA;
    .title{
      font-size: 30px;
    }
    .explain{
      padding: 20px 0;
      width: 520px;
      line-height: 1.8;
    }
  }// .introduce

  .info{
    padding: 20px 40px 0 40px;
    background-color: #fff;

    .slimScrollDiv{
      display: inline-block;// 插件滚动条
    }

    .info-sidle{
      width: 240px;// 关联 滚动条宽度、.info-content宽度
      position: fixed;
      top: 240px;
      left: 40px;

      ul{
        border-right: 2px solid #EAEAEA;
        li{
          color: #222222;
          //background-color: #fff;
          border-left: 2px solid transparent;
          padding-left: 20px;
          a{
            display: block;
            span{
              color: #999999;
              margin-left: 5px;
              line-height: 2.4;
            }
          }

        }

      }
    }// .info-sidle

    .info-content{
      width: calc(100% - 240px);
      float: right;
      padding-left: 40px;
      >div{
        border-radius: 10px;
        padding-bottom: 50px;
        >.title{
          border-bottom: 1px solid #EEEEEE;
          padding: 10px 0;
          span{
            color: #CCCCCC;
          }
        }

        >.explain{
          padding: 15px 0;
          font-size: 14px;
          line-height: 1.3;
        }

        >.box{
          border: 1px solid #e2e4e5;
          border-radius: 4px;

          .box-demo{
            padding: 20px;
            border-bottom: 1px solid #E2E4E5;
            .instance{
              line-height: 2;
              margin-bottom: 10px;
              color: #cccccc;
            }
          }// demo
          // copy 样式
          .box-code{
            position: relative;
            overflow: hidden;
            border-radius: 0 0 4px 4px;

            .box-copy{
              position: absolute;
              top: 19px;
              right: 0;
              width: 70px;
              line-height: 30px;
              text-align: center;
              border-left: 1px solid #E2E4E5;
              border-bottom: 1px solid #E2E4E5;
              border-radius: 0 0 0 4px;
              background-color: #fff;
              cursor: pointer;
            }
          }// code

          .box-code:not(:last-child){
            code{
              border-bottom: 1px solid #E2E4E5;
            }
          }
        }// box
      }

      #down{
        ul{
          li{
            width: 16%;
            float: left;
            text-align: center;
            border-radius: 6px;
            box-shadow: 1px 1px 2px #cccccc;
            a{
              display: block;
              //width: 16%;
              height: 100px;

              .color{
                height: 60px;
                padding-top: 12px;
                border-radius: 6px 6px 0 0;
                span{
                  display: block;
                  color: #ffffff;
                }
              }
              .txt{
                height: 40px;
                line-height: 40px;
                border-radius: 0 0 6px 6px;
                border: 1px solid #F3F3F3;
                border-top: none;
              }
            }
          }

          li:not(:first-child){
            margin-left: 5%;
          }

          li:nth-child(1){
            a{
              .color{
                background-color: #ff8a41;
              }
            }
          }
          li:nth-child(2){
            a{
              .color{
                background-color: #ed5565;
              }
            }
          }
          li:nth-child(3){
            a{
              .color{
                background-color: #00bfa5;
              }
            }
          }
          li:nth-child(4){
            a{
              .color{
                background-color: #1d98f9;
              }
            }
          }
          li:nth-child(5){
            a{
              .color{
                background-color: #CCCCCC;
              }
            }
          }

        }
      }

      #typo{
        .demo-main{
          ul{
            padding-left: 30px;
            li{
              padding: 10px 0;
              h1,h2,h3,h4,h5,h6{
                display: inline-block;
                width: 160px;
              }
              .t-key{
                color: #cccccc;
              }
              .t-val{
                padding-right: 50px;
                padding-left: 10px;
              }

            }
          }

        }
      }

      #icon {
        .box{
          .box-demo{
            #iconPic{
              height: 550px;
              background-color: #FCFCFC;
              overflow-y: scroll;
              ul{
                li{
                  border-radius: 4px;
                  float: left;
                  width: 12.5%;
                  text-align: center;
                  i{
                    font-size: 36px;
                    color: #CCCCCC;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 20px 0;
                  }
                  span{
                    h6{
                      height: 32px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      #button{
        .demo-main{
          ul{
            li{
              float: left;
              width: 16.6%;
              button{
                display: block;
                margin: 30px 0;
              }
              button:first-child{
                margin-top: 0;
              }
            }
          }
        }
      }

      #tabControl{
        .i-tabs-group{
          padding: 15px;
          border: 1px solid #DDDEE1;
          border-radius: 4px;
        }
      }

      #toastr{
        div{
          color: #ffffff !important;
        }
        div:nth-child(1){
          background-color: #1890FF;
          border-color: #1890FF;
        }
        div:nth-child(2){
          background-color: #52C41A;
          border-color: #52C41A;

        }
        div:nth-child(3){
          background-color: #f89406;
          border-color: #f89406;

        }
        div:nth-child(4){
          background-color: #dd4b39;
          border-color: #dd4b39;

        }

      }

      #chart{
        .demo-main{
          text-align: center;
          .pie-o{
            display: inline-block;
            width: 24% !important;
            >div{
              margin: 0 auto;
            }
          }
        }
      }
    }// .info-content
  }// .info

  .footer{
    background-color: #EAEAEA;
    color: #222222;
    text-align: center;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }// .footer

}// .content-item


// sidlePage
#sidlePage{
  .file-contrast-wrap{
    .contrast-content{
      padding: 10px;

      .content-title{
        border-bottom: 1px solid #DDDEE1;
        line-height: 30px;
        padding-left: 10px;
        i{
          padding: 0 10px;
          font-size: 20px;
          color: #ff0000;
          vertical-align: text-top;
        }
        span{
          font-size: 12px;
          color: #ff0000;
          letter-spacing: 1px;
        }
      }

      .content-list{
        ul{
          li{
            line-height: 28px;
            margin-top: 10px;
            cursor: pointer;
            border: 1px solid #DDDEE1;
            border-radius: 4px;
            padding-left: 10px;
            transition: .3s;
            position: relative;
            &:after{
              //content: '设为基准文档';
              //padding: 5px;
              //background-color: rgba(29, 152, 249, 0);
              //border-radius: 3px;
              //font-size: 12px;
              //color: #fff;
              //display: inline-block;
              //line-height: 0.6;
              //margin-top: 6px;
              //margin-left: 10px;
              //transition: .7s all;
            }
            &:hover{
              color: #1D98F9;
              border-color: #1D98F9;
              box-shadow: inset 0 1px 2px rgba(29,152,248, .2), 0 0 0 2px rgba(29,152,248, .2);
              &:after{
                //background-color: rgba(29, 152, 249, 1);
              }
            }
          }

          .standard-file{
            background-color: #1D98F9;
            border-color: #1D98F9 !important;
            color: #ffffff !important;
            &:before{
              //display: inline-block;
              //content: '基准文档';
              //font-size: 12px;
              //padding-right: 10px;
              //float: right;
            }
            &:hover{
              box-shadow: none;

            }
            &:after{
              //display: none;
            }
          }
        }
      }
    }

    .contrast-opera{
      border-top: 1px solid #DDDEE1;
      padding: 10px;
      text-align: right;
    }
  }
}

#backtop{
  position: fixed;
  bottom: 35px;
  right: 10px;
  color: #C1C1C1;
  z-index: 1;
  font-size: 30px;
  cursor: pointer;
}