.content-item {
  padding: 0 0 40px 0 !important;
  position: relative; }
  .content-item .introduce {
    padding: 30px 40px 0 40px;
    background-color: #EAEAEA; }
    .content-item .introduce .title {
      font-size: 30px; }
    .content-item .introduce .explain {
      padding: 20px 0;
      width: 520px;
      line-height: 1.8; }
  .content-item .info {
    padding: 20px 40px 0 40px;
    min-width: 1200px; }
    .content-item .info .slimScrollDiv {
      display: inline-block; }
    .content-item .info .info-sidle {
      width: 240px;
      position: fixed;
      top: 240px;
      left: 40px; }
      .content-item .info .info-sidle ul {
        border-right: 2px solid #EAEAEA; }
        .content-item .info .info-sidle ul li {
          color: #222222;
          border-left: 4px solid transparent;
          padding-left: 20px; }
          .content-item .info .info-sidle ul li a {
            display: block; }
            .content-item .info .info-sidle ul li a span {
              color: #999999;
              margin-left: 5px;
              line-height: 2.4; }
    .content-item .info .info-content {
      width: calc(100% - 240px);
      float: right;
      padding-left: 40px; }
      .content-item .info .info-content > div {
        border-radius: 10px;
        padding-bottom: 50px; }
        .content-item .info .info-content > div > .title {
          border-bottom: 1px solid #EEEEEE;
          padding: 10px 0; }
          .content-item .info .info-content > div > .title span {
            color: #CCCCCC; }
        .content-item .info .info-content > div > .explain {
          padding: 15px 0;
          font-size: 14px;
          line-height: 1.3; }
        .content-item .info .info-content > div > .box {
          border: 1px solid #e2e4e5;
          border-radius: 4px; }
          .content-item .info .info-content > div > .box .box-demo {
            padding: 20px;
            border-bottom: 1px solid #E2E4E5; }
            .content-item .info .info-content > div > .box .box-demo .instance {
              line-height: 2;
              margin-bottom: 10px;
              color: #cccccc; }
          .content-item .info .info-content > div > .box .box-code {
            position: relative;
            overflow: hidden;
            border-radius: 0 0 4px 4px; }
            .content-item .info .info-content > div > .box .box-code .box-copy {
              position: absolute;
              top: 19px;
              right: 0;
              width: 70px;
              line-height: 30px;
              text-align: center;
              border-left: 1px solid #E2E4E5;
              border-bottom: 1px solid #E2E4E5;
              border-radius: 0 0 0 4px;
              background-color: #fff;
              cursor: pointer; }
          .content-item .info .info-content > div > .box .box-code:not(:last-child) code {
            border-bottom: 1px solid #E2E4E5; }
      .content-item .info .info-content #down ul li {
        width: 16%;
        float: left;
        text-align: center;
        border-radius: 6px;
        box-shadow: 1px 1px 2px #cccccc; }
        .content-item .info .info-content #down ul li a {
          display: block;
          height: 100px; }
          .content-item .info .info-content #down ul li a .color {
            height: 60px;
            padding-top: 12px;
            border-radius: 6px 6px 0 0; }
            .content-item .info .info-content #down ul li a .color span {
              display: block;
              color: #ffffff; }
          .content-item .info .info-content #down ul li a .txt {
            height: 40px;
            line-height: 40px;
            border-radius: 0 0 6px 6px;
            border: 1px solid #F3F3F3;
            border-top: none; }
      .content-item .info .info-content #down ul li:not(:first-child) {
        margin-left: 5%; }
      .content-item .info .info-content #down ul li:nth-child(1) a .color {
        background-color: #ff8a41; }
      .content-item .info .info-content #down ul li:nth-child(2) a .color {
        background-color: #ed5565; }
      .content-item .info .info-content #down ul li:nth-child(3) a .color {
        background-color: #00bfa5; }
      .content-item .info .info-content #down ul li:nth-child(4) a .color {
        background-color: #1d98f9; }
      .content-item .info .info-content #down ul li:nth-child(5) a .color {
        background-color: #CCCCCC; }
      .content-item .info .info-content #typo .demo-main ul {
        padding-left: 30px; }
        .content-item .info .info-content #typo .demo-main ul li {
          padding: 10px 0; }
          .content-item .info .info-content #typo .demo-main ul li h1, .content-item .info .info-content #typo .demo-main ul li h2, .content-item .info .info-content #typo .demo-main ul li h3, .content-item .info .info-content #typo .demo-main ul li h4, .content-item .info .info-content #typo .demo-main ul li h5, .content-item .info .info-content #typo .demo-main ul li h6 {
            display: inline-block;
            width: 160px; }
          .content-item .info .info-content #typo .demo-main ul li .t-key {
            color: #cccccc; }
          .content-item .info .info-content #typo .demo-main ul li .t-val {
            padding-right: 50px;
            padding-left: 10px; }
      .content-item .info .info-content #icon .box .box-demo #iconPic {
        height: 550px;
        background-color: #FCFCFC;
        overflow-y: scroll; }
        .content-item .info .info-content #icon .box .box-demo #iconPic ul li {
          border-radius: 4px;
          float: left;
          width: 12.5%;
          text-align: center; }
          .content-item .info .info-content #icon .box .box-demo #iconPic ul li i {
            font-size: 36px;
            color: #CCCCCC;
            display: inline-block;
            vertical-align: middle;
            padding: 20px 0; }
          .content-item .info .info-content #icon .box .box-demo #iconPic ul li span h6 {
            height: 32px; }
      .content-item .info .info-content #button .demo-main ul li {
        float: left;
        width: 16.6%; }
        .content-item .info .info-content #button .demo-main ul li button {
          display: block;
          margin: 30px 0; }
        .content-item .info .info-content #button .demo-main ul li button:first-child {
          margin-top: 0; }
      .content-item .info .info-content #tabControl .i-tabs-group {
        padding: 15px;
        border: 1px solid #DDDEE1;
        border-radius: 4px; }
      .content-item .info .info-content #toastr div {
        color: #ffffff !important; }
      .content-item .info .info-content #toastr div:nth-child(1) {
        background-color: #1890FF;
        border-color: #1890FF; }
      .content-item .info .info-content #toastr div:nth-child(2) {
        background-color: #52C41A;
        border-color: #52C41A; }
      .content-item .info .info-content #toastr div:nth-child(3) {
        background-color: #f89406;
        border-color: #f89406; }
      .content-item .info .info-content #toastr div:nth-child(4) {
        background-color: #dd4b39;
        border-color: #dd4b39; }
  .content-item .footer {
    background-color: #EAEAEA;
    color: #222222;
    text-align: center;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%; }

#sidlePage .file-contrast-wrap .contrast-content {
  padding: 10px; }
  #sidlePage .file-contrast-wrap .contrast-content .content-title {
    border-bottom: 1px solid #DDDEE1;
    line-height: 30px;
    padding-left: 10px; }
    #sidlePage .file-contrast-wrap .contrast-content .content-title i {
      padding: 0 10px;
      font-size: 20px;
      color: #ff0000;
      vertical-align: text-top; }
    #sidlePage .file-contrast-wrap .contrast-content .content-title span {
      font-size: 12px;
      color: #ff0000;
      letter-spacing: 1px; }
  #sidlePage .file-contrast-wrap .contrast-content .content-list ul li {
    line-height: 28px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #DDDEE1;
    border-radius: 4px;
    padding-left: 10px;
    transition: .3s;
    position: relative; }
    #sidlePage .file-contrast-wrap .contrast-content .content-list ul li:hover {
      color: #1D98F9;
      border-color: #1D98F9;
      box-shadow: inset 0 1px 2px rgba(29, 152, 248, 0.2), 0 0 0 2px rgba(29, 152, 248, 0.2); }
  #sidlePage .file-contrast-wrap .contrast-content .content-list ul .standard-file {
    background-color: #1D98F9;
    border-color: #1D98F9 !important;
    color: #ffffff !important; }
    #sidlePage .file-contrast-wrap .contrast-content .content-list ul .standard-file:hover {
      box-shadow: none; }
#sidlePage .file-contrast-wrap .contrast-opera {
  border-top: 1px solid #DDDEE1;
  padding: 10px;
  text-align: right; }

#backtop {
  position: fixed;
  bottom: 20px;
  right: 10px;
  color: #C1C1C1;
  z-index: 1;
  font-size: 30px;
  cursor: pointer; }

/*# sourceMappingURL=use.css.map */
