@charset "UTF-8";
//  尺寸 == v-padding, h-padding, font-size, line-height, border-radius, 图标尺寸, 行高
@mixin button-size($padding-ver, $padding-hor, $font-size, $line-height, $border-radius, $icon-size: 14px){
  padding: $padding-ver $padding-hor;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
  i, .fa{
    font-size: $icon-size !important;
    line-height: 0;// 这样设置以后， content-box的高度从15.2恢复到13.6
  }
}

//  类型 == 字体颜色、背景颜色、边框颜色
@mixin button-variant($font-col, $bg-col, $border-col){
  color: $font-col;
  background-color: $bg-col;
  border-color: $border-col;
}


//  效果 == 字体颜色、背景颜色、边框颜色、点击之后的背景颜色
@mixin button-effect($font-col, $hover-bg-col, $border-col, $click-bg-col){
  &:hover{
    color: $font-col;
    background-color: $hover-bg-col;
    border-color: $border-col;
    i, .fa{
      color: $font-col !important;
    }
  }

  &:focus{
    color: $font-col;
    background-color: $click-bg-col;
    border-color: $border-col;
    i, .fa{
      color: $font-col;
    }
  }

}